{% extends 'base.html' %}
{% load static %}

{% block 'head'%}
<link rel="stylesheet" href="{% static 'css/enter.css' %}">
{% endblock %}

{% block 'main' %}
<div class="main">
{% if request.session.error %}
<h1>{{request.session.error}}</h1>
{% endif %}
<form action="{% url 'login' %}" method="POST">{% csrf_token %}
	<input name="username" id="username" type="text" placeholder="username"/>
	<br>
	<input name="password" type="password" placeholder="password"/>
	<br>
	<button type="submit">Entrar</button>
	ainda nao tem uma conta? Crie <a onclick="location.href='{% url 'register' %}'">aqui.</a>
</form>
</div>
{% endblock %}
