{% extends 'base.html' %}
{% load static %}
{% block 'head'%}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
{% endblock %}
{% block 'main' %}
<div class="user-profile-info">
  {% if user_form.errors %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <div id="form_errors">
      {% for key, value in user_form.errors.items %}
      <strong style="color:white;">{{ value }}</strong>
      {% endfor %}
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  <form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<p style="background:red;">{{ form.as_p }}</p>
	<div class="user-profile-photo">
	  <img src="{{user.profile.avatar.url}}" alt="{{user.username}}"/>
      {{ profile_form.avatar }}
	</div>
	<br>
	<h1>{{ request.user.get_full_name }}</h1>
	<br>
	<label>Usuario</label>
	{{ user_form.username }}
  <br>
  <label>Bio</label>
  {{ profile_form.bio }}
  <br>
  <label>Endereco</label>
  {{ profile_form.location }}
  <br>
  <label>Email</label>
  {{ user_form.email }}
  <br>
  <label>Nascimento</label>
  {{ profile_form.birth_date }}
  <br>
  <button type="submit"><i class="ph-pencil"></i> Salvar</button>
  <button type="reset"><i class="ph-trash"></i> Limpar</button>
  <button type="button"><a onclick="location.href='{% url 'delete' %}'"><i class="ph-user-circle-minus"></i></a>
	Deletar a conta</button>
  <br>
  <br>
</form>
</div>
{% endblock %}
