{% extends 'base.html' %}
{% load static %}
{% block 'head'%}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
{% endblock %}
{% block 'main' %}
<div class="user-profile-info">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<p style="background:red;">{{ form.as_p }}</p>
		<div class="user-profile-photo">
			{{user.photo.url}}
			{% if user.photo %}
			<img src="{{user.photo}}" alt="{{user.username}}"/>
			{% else %}
			<img src="https://static.remove.bg/remove-bg-web/19c2a5c2699621496a98aec1b8fd0618590c36e2/assets/start-1abfb4fe2980eabfbbaaa4365a0692539f7cd2725f324f904565a9a744f8e214.jpg" alt="{{ user.username }}"/>
			{% endif %}
			<input type="file" id="photo" name="photo">
		</div>
		<label>Nome completo</label>
		<br>
		<input placeholder="{{ user.get_full_name }}"/>
		<br>
	<label>Usuario</label>
	<br>
  <input placeholder="{{ user.username }}"/>
	<br>
	<label>Endereco</label>
	<br>
	<input placeholder="{{ user.profile.location }}"/>
	<br>
	<label>Aniversario</label>
	<br>
	<input placeholder="{{ user.profile.birth_date }}"/>
	<br>
	<button type="submit"><i class="ph-pencil"></i></button>
</form>
</div>
{% endblock %}
