{% extends 'base.html' %}
{% load static %}

{% block 'head'%}
<link rel="stylesheet" href="{% static 'css/enter.css' %}">
{% endblock %}

{% block 'main' %}
<div class="main">
{% if request.session.error %}
<h1>{{request.session.error}}</h1>
{% endif %}
<form action="{% url 'register' %}" method="POST">{% csrf_token %}
  <input name="first_name" id="first_name" type="text" placeholder="Primeiro nome"/>
  <br>
  <input name="last_name" id="last_name" type="text" placeholder="Sobrenome"/>
  <br>
	<input name="username" id="username" type="text" placeholder="username"/>
	<br>
	<input name="email" id="email" type="email" placeholder="vitorcampos@gmail.com"/>
	<br>
	<input name="password" type="password" placeholder="password"/>
	<br>
	<button type="submit">Criar Conta</button>
ja tem uma conta? Entre <a onclick="location.href='{% url 'login' %}'">aqui.</a>
</form>
</div>
{% endblock %}
