footer {
		display: none;
}

.main {
		margin: 2rem;
		form {
				a {
						text-decoration: underline;
						color: red;
						cursor: pointer;
				}
				button {
						border: none;
						background: none;
						text-decoration: underline;
						cursor: help;
				}
		}
		button {
			border-radius: 8px;
			padding: 8px;
			border: none;
			background: orange;
			font-weight: bold;
			margin-top: 0.5em;
		}
}
