.user-profile-info {
	margin: 1em;
	margin-top: 3em;
	form {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap:0;
		justify-content:center;
		align-content:center;
		max-width: 400px;
		min-height: 700px;
		.user-profile-photo {
			display: flex;
			flex-direction: column;
			input {
				max-width: 50%;
			}

			img {
				width: 90px;
				border-radius: 50%;
				border: 2px solid #bebebe;
				padding: 4px;
				transition: 1s ease all;
				&:hover {
					transform: scale3d(1.2, 1.2, 1) rotate3d(1, 1, 1, 45deg);
				}
			}
		}
		input, textarea {
			border: none;
			padding: 8px;
			border-radius: 8px;
			outline: tomato;
			margin: 0.1rem;
			max-width: 95%;
			&:focus {
				border: 2px solid tomato;
			}
		}
		button {
			background: teal;
			color: white;
			border: none;
			padding: 4px;
			margin: 0.2em;
			border-radius: 4px;
			transition: 300ms ease all;
			&:hover {
				background: tomato;
			}
		}
	}
}
