main {
  height: 800px;
  margin: 0 auto;
  max-width: 500px;
}

main .cart-title {
  margin: 1em;
}

main .cart-title button {
  background: orange;
  padding: 8px;
  border-radius: 8px;
  border: none;
  margin: 2px;
}

main .cart-title h1 {
  font-size: 1.5rem;
}

.products {
  margin: 0.5rem;
  /*border:1px solid rgba(0,0,0,.4);*/
  border-radius: 4px;
  height: auto;
}

.products .product {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin: 0.5em;
  padding: 8px;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 306px) {
  .products .product {
    flex-direction: column;
  }
}

.products .product img {
  width: 4em;
  height: 4em;
}

.products .product .product-quantity {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
}

.products .product .product-description h3 {
  font-size: 0.9rem;
}

.products .product .product-description p {
  margin: 0.3em;
}

.products .product .product-description div button {
  cursor: pointer;
  width: 40%;
  background: none;
  border-radius: 4px;
  /*border: 1px solid #fff;*/
  border: none;
  padding: 0.4em;
  font-size: large;
  font-weight: bold;
  transition: 300ms ease all;
}

@media (prefers-color-scheme: light) {
  .products .product .product-description div button {
    color: #555;
  }
}

.products .product .product-description div button:hover {
  border: none;
  color: white;
  background: cornflowerblue;
}

.products .product .product-description div .minus:hover {
  background: crimson;
  color: white;
}
