footer {
  display: none;
}

.main {
  margin: 2rem;
}

.main form a {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.main form button {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: help;
}
