.main {
  margin: 0 auto;
  background: none;
  font-size: 0.8rem;
  padding: 8px;
  /*margin-top: 20vh;*/
  margin-top: 3%;
  max-width: 500px;
}

.main form {
  display: flex;
  flex-direction: column;
  max-width: 67%;
  gap: 0.7rem;
  flex-wrap: nowrap;
  align-content: center;
  /*align-items: center;*/
  width: 100%;
  margin: 0 auto;
}

.main form .alert {
  background: orange;
  border-radius: 8px;
}

.main form .alert #form_errors strong ul {
  list-style: none;
}

.main form div input {
  width: 100%;
  border: none;
  padding: 8px;
  border-radius: 8px;
  outline: none;
}

.main form div input:focus {
  border: 2px solid #bebebe;
}

.main form button {
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 300ms;
}

.main form button:hover {
  background-color: #FFa741;
}

.main form a {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

footer {
  display: none !important;
  position: absolute !important;
}
