* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  color-scheme: dark light;
}

body {
  font-family: "Inter", 'monospace', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #0a0a0a;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #555;
    background-color: #E7E7E7;
  }
}

.navbar {
  height: 4rem;
  padding: 0.6em;
  font-size: 1.6rem;
  box-shadow: 2px 2px 8px;
}

@media (prefers-color-scheme: dark) {
  .navbar a {
    color: whitesmoke;
  }
}

.container-fluid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.container-fluid .navbar-brand {
  font-size: 1.6rem;
  text-underline-position: under;
  text-decoration-color: slategray;
  color: #FFa741;
}

.container-fluid .user-items {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.85em;
  color: slategray;
  font-size: 0.9rem;
}

.container-fluid .user-items .cart, .container-fluid .user-items .user {
  border: none;
  background: none;
  cursor: pointer;
}

.container-fluid .user-items .cart [class^="ph-"], .container-fluid .user-items .cart [class*=" ph-"], .container-fluid .user-items .user [class^="ph-"], .container-fluid .user-items .user [class*=" ph-"] {
  display: inline-flex;
  color: slategray;
}

.container-fluid .user-items .user {
  font-size: 1.3em;
}

.container-fluid .user-items .user img {
  border-radius: 50%;
}

.container-fluid .user-items .cart {
  font-size: 1.9em;
}

footer {
  width: 100%;
  height: 10%;
  padding: 20px;
  display: flex;
  justify-content: center;
  background: #FFa741;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: #555;
  font-weight: bold;
}
