{% extends 'base.html' %}
{% load cart_tag %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<title>
Carrinho
</title>
{% endblock %}
{% block 'main' %}
<main>
	<div class="cart-title">
		<h1>Carrinho</h1>
		<p>Quantidade de items: {{request.session.cart|length}}</p>
		<p>Total: R$ {{total}}</p>
	</div>

	<div class="products">
		{% for key,value in request.session.cart.items %}
			<div class="product">
				<img class="product-img"
						 src="{{value.image}}"
						 width="120"
						 height="80">
				<div class="product-description">
					<div>
					  <div>
						<h3>{{value.name}}</h3>
						<p>R$ {{value.price}}</p>
					  </div>
					</div>
					<div class="product-quantity">
						<button onclick="location.href='{% url 'cart_inc' value.product_id %}'" >+</button> {{value.quantity}}
						<button onclick="location.href='{% url 'cart_dec' value.product_id %}'" class="minus">-</button>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</main>
{% endblock %}
