{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
  	<script src="https://kit.fontawesome.com/2ce8403e7e.js" crossorigin="anonymous"></script>
  	<script src="https://unpkg.com/phosphor-icons"></script>
	<title>Home</title>
</head>
<body>
	<header>
		<div class="header">
			<div><i class="ph-pill"></i></div>
			<div class="search">
				<form>
					<i class="ph-magnifying-glass"></i>
					<input type="text" />
				</form>
			</div>
			<div><i class="ph-shopping-cart-simple"></i></div>
		</div>
	</header>
	<main></main>
	<footer></footer>
</body>
</html>